body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 255, 217, 0.71);
}

.gallery {
    display: flex;   
    flex-wrap: wrap; 
    justify-content: space-between;
    /* align-content: flex-start; */
    gap: 20px;
    padding: 20px;
    columns: 4;
    column-gap: 10px;
}

.item {
    flex: 1 0 calc(33.33% - 20px);
    position: relative;
    overflow: hidden;
}

.item img {
    max-width: 100%;
    
    height: auto;
    transition: transform 0.3s ease;
}

/* .item:hover img {
    transform: scale(1.1);
} */

